<div class="info-box floating">
    <h3>
        <span class="icon-svg icon-info">
            <svg><use xlink:href="#info-icon"></use></svg>
        </span>
        <span class="info-box_title">{{ title is defined ? title : '' }}</span>
    </h3>
    <p class="info-box_content">{{ content is defined ? content : '' }}</p>
</div>