{% trans_default_domain 'exchange_site_find' %}

<div class="modal fade" id="exchangeSiteProposition" tabindex="-1" role="dialog">
    <div class="modal-dialog high-inputs" role="document">
        <div class="modal-content sk-spinner_wrap">
            <div class="sk-spinner sk-spinner-double-bounce">
                <div class="sk-double-bounce1"></div>
                <div class="sk-double-bounce2"></div>
            </div>
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <ul class="modal-errors"></ul>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">{{ 'modal.accept'|trans }}</button>
            </div>
        </div>
    </div>
</div>
