{% trans_default_domain 'exchange_site_proposals' %}

<input type="hidden" id="proposition_id" name="proposition_id" value="{{ id }}" />
<p>{{ 'modal.accept.attention'|trans }}</p>
<p>{{ 'modal.accept.continue'|trans }}</p>

<button id="accept_send" type="button" class="btn btn-w-m btn-primary pull-right m-t">{{ 'modal.accept.button'|trans }}</button>