{% trans_default_domain 'submission' %}

<textarea id="reject_comment" class="form-control" rows="6"></textarea>

<div class="text-right m-t-md action_button">
    <button type="button" class="btn btn-white" data-dismiss="modal">{{ 'modal.close'|trans }}</button>
    <button type="button" class="btn btn-primary save">{{ 'modal.save'|trans }}</button>
</div>
