{% extends 'replenish_account/success.html.twig' %}

{% trans_default_domain 'replenish_account' %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h1>{{ 'createed_request_successfully'|trans }}</h1>
        </div>
    </div>
{% endblock %}